/*
    Loader
*/

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.spinner div:nth-child(1) {
  animation-delay: -0.036s;
}
.spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.spinner div:nth-child(2) {
  animation-delay: -0.072s;
}
.spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.spinner div:nth-child(3) {
  animation-delay: -0.108s;
}
.spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.spinner div:nth-child(4) {
  animation-delay: -0.144s;
}
.spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.spinner div:nth-child(5) {
  animation-delay: -0.18s;
}
.spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.spinner div:nth-child(6) {
  animation-delay: -0.216s;
}
.spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.spinner div:nth-child(7) {
  animation-delay: -0.252s;
}
.spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.spinner div:nth-child(8) {
  animation-delay: -0.288s;
}
.spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* 
  Variables
*/
:root {
  --azure-1: #54d7f9;
  --azure-2: #1d9ee5;
  --azure-3: #0076e3;
  --azure-4: #0362d1;
  --azure-5: #0553c8;

  --link-default: var(--azure-5);
  --link-hover: var(--azure-2);

  --bg-default: #1b1b1b;
  --bg-dark: #141414;
}
/*
  Global styles
*/
@font-face {
  font-family: 'Cascadia-Code';
  src: url('assets/fonts/cascadia-code.woff2') format('woff2'),
       url('assets/fonts/cascadia-code.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: #aaa;
  user-select: none;
}

*[navigate-to] {
  color: var(--link-default);
  cursor: pointer;
}

*[navigate-to]:hover {
  color: var(--link-hover);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Cascadia-Code', 'Roboto';
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
app-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default);
  align-items: center;
  justify-content: center;
}

app-header {
  height: 50px;
  width: 100%;
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

app-sidebar {
  display: flex;
  width: 60px;
  height: 100%;
  background-color: var(--bg-dark);
  align-items: flex-start;
  justify-content: center;
}

route {
display: block;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}

route:hover {
background-color: var(--bg-default);
}

route:hover svg path {
fill: var(--azure-4)
}

route svg {
width: 100%;
height: 100%;
}

app-header > .shop-logo > svg {
  width: 40px;
  height: 40px;
}

svg {
  margin: 5px;
}

svg path {
  fill: #666;
}

svg:hover {
  cursor: pointer;
}

svg:hover path {
  fill: #999;
}

.highlight {
  color: var(--azure-3);
}

.is-loading {
  display: none;
}

@media only screen and (max-width: 800px) {
  #main-content {
      display: flex;
      flex-direction: column-reverse;
  }

  app-sidebar {
      height: 60px;
      width: 100%;
      align-items: center;
  }
}